<nav>
  <div>
    <ul>
      <li>
        <img
          class="logo"
          src="../../assets/imgs/fut-logo.jpeg"
          alt="Fut+ Logo"
        />
      </li>
      <li>
        <div>
          <a href="/players">Players</a>
          <span class="material-symbols-outlined">person</span>
        </div>
      </li>

      <li>
        <div>
          <a href="">Squad Builder</a>
          <span class="material-symbols-outlined">group_add</span>
        </div>
      </li>
      <li>
        <div>
          <a href="">Squads</a>
          <span class="material-symbols-outlined">groups</span>
        </div>
      </li>
    </ul>
  </div>
</nav>
