<footer>
  <div class="logo-container">
    <div class="logo-text">
      <span class="additional-text"> Contact us on social networks!-Github, Linkedin, Instagram</span>
      <a href="https://github.com/gustavosoton">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Git hub">
        <span>GitHub</span>
      </a>
    </div>
    <a href="https://www.linkedin.com/in/gustavo-pereira-650229224/">
      <img src="https://www.iconarchive.com/download/i97467/sicons/flat-shadow-social/linkedin.512.png" alt="Linkedin">
      <span>LinkedIn</span>
    </a>
    <a href="https://www.instagram.com/guga_pereiraa/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1200px-Instagram_icon.png" alt="Instagram">
      <span>Instagram</span>
    </a>
    <div
    img src="../../assets/imgs/fut-logo.jpeg" alt="Fut-mais Logo">
    </div>
  </div>
</footer>
