

<table>
  <tr>

    <th>Nome</th>
    <th>Posição</th>
    <th>Clube</th>
    <th>Idade</th>
    <th>Nac.</th>
  </tr>

  <tr>
    <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Cristiano_Ronaldo_playing_for_Al_Nassr_FC_against_Persepolis%2C_September_2023_%28cropped%29.jpg/240px-Cristiano_Ronaldo_playing_for_Al_Nassr_FC_against_Persepolis%2C_September_2023_%28cropped%29.jpg"  width="50" height="50">Cristiano Ronaldo</td>
    <td class="centralizado">ATA</td>
    <td class="centralizado"><img src= "https://1.bp.blogspot.com/-tjh8FkQ9s8U/X5lGA9s5UcI/AAAAAAABBUE/zNrqZM8KdVYife99OHaHKIufkZixA8JfQCLcBGAsYHQ/s696/Al%2BNassr-KSA%2B2020.png" alt="Al-Nassr" width="50" height="50">
    <td class="centralizado">37</td>
    <td class="centralizado"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/2000px-Flag_of_Portugal.svg.png" alt="Portugal" width="50" height="50"></td>
  </tr>

</table>
