<!-- <div class="div-table">
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="nome">Nome</th>
      <th mat-sort-header="posicao">Posição</th>
      <th mat-sort-header="clube">Clube</th>
      <th mat-sort-header="idade">Idade</th>
      <th mat-sort-header="nacionalidade">Nacionalidade</th>
      <th mat-sort-header="pontuacao">Pontuação</th>
    </tr>

    @for (players of sortedData; track players) {
    <tr>
      <td>
        {{ players.nome }}
        <img src="{{ players.img }}" alt="Player Image" />
      </td>
      <td>{{ players.posicao }}</td>
      <td>{{ players.clube }}</td>
      <td>{{ players.idade }}</td>
      <td>{{ players.nacionalidade }}</td>
      <td>{{ players.pontuacao }}</td>
    </tr>
    }
  </table>
</div> -->
