$table-width: 50%;

table {
  border-collapse: collapse;
  width: $table-width;
  table {
    margin: 0 auto;
  }
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 100%;
  }
  th {
    background-color: #f2f2f2;
  }
  .centralizado {
    text-align: center;
  }
}
