
$table-width: 50%;

table {
  border-collapse: collapse;
  width: $table-width;
  margin: 0 auto;
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;

    img {
      vertical-align: middle;
      margin-right: 10px;
    }


  }
  th {
    background-color: #f2f2f2;
  }
  .centralizado {
    text-align: center;
  }
 }



body {
  text-align: center;
  margin: 0;
  padding: 20px;
}




.player-row {
  td {
    position: relative;

    .player-link {
      text-decoration: none;
      color: inherit;
      transition: color 0.3s ease;

      &:hover {
        color: #000000;
        text-decoration: underline;
      }
    }
  }
}
