// Estilos para a tabela
$table-width: 50%; // Largura da tabela

table {
  border-collapse: collapse;
  width: $table-width; // Define a largura da tabela
  margin: 0 auto; // Centraliza a tabela horizontalmente
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;

    img {
      vertical-align: middle; // Alinha verticalmente a imagem ao texto
      margin-right: 10px; // Espaçamento à direita da imagem (opcional)
    }


  }
  th {
    background-color: #f2f2f2;
  }
  .centralizado {
    text-align: center; // Centraliza o conteúdo desta célula
  }
 }


// Estilos para o corpo da página
body {
  text-align: center; // Centraliza conteúdo verticalmente
  margin: 0; // Remove margens padrão do corpo da página
  padding: 20px; // Adiciona um espaçamento interno para melhor visualização
}


// styles.scss

// styles.scss

// styles.scss

// styles.scss

.player-row {
  td {
    position: relative;

    .player-link {
      text-decoration: none;
      color: inherit;
      transition: color 0.3s ease; // Adicionando transição para suavizar a mudança de cor

      &:hover {
        color: #000000; // Altere para a cor desejada ao passar o cursor sobre o link
        text-decoration: underline; // Adicionando sublinhado ao passar o cursor sobre o link
      }
    }
  }
}
