.card-wraper {
  width: 100%;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

.mat-mdc-card {
  margin: 0.625rem;
  .card-image {
    align-self: center;
    width: 14.375rem;
    height: -webkit-fill-available;
  }
}

.card-wraper-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.mat-mdc-card-avatar {
  border-radius: 0px;
  width: 1.875rem;
}
